# Explicitly specify Dart as the main language
*.dart linguist-language=Dart

# Exclude or demote other languages
*.cpp linguist-detectable=false
*.h linguist-detectable=false
*.c linguist-detectable=false
*.m linguist-detectable=false
*.mm linguist-detectable=false
*.swift linguist-detectable=false
*.html linguist-detectable=false
*.kt linguist-detectable=false
CMakeLists.txt linguist-detectable=false
*.cmake linguist-detectable=false
